version: "3.8"

services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    volumes:
      - ../backend:/app:cached
      - backend-venv:/app/.venv
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
      - DATABASE_URL=postgresql+asyncpg://postgres:change_me@db:5432/hear_db
      - POSTGRES_SERVER=db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=change_me
      - POSTGRES_DB=hear_db
    command: sleep infinity
    depends_on:
      - db
    
  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=change_me
      - POSTGRES_DB=hear_db
    volumes:
      - postgres-data-dev:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  adminer:
    image: adminer
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  backend-venv:
  postgres-data-dev:
